{% extends 'base.html.twig' %}

{% block title %}Ajout Patient{% endblock %}
{% block breadcrumb %}
    Patients
{% endblock %}


{% block bouton %}

    <a  class="btn-primary btn" href="{{ path('app_patient_index') }}">Retour à la liste</a>
{% endblock %}

{% block body %}

    {{ include('patient/_form.html.twig') }}

{% endblock %}
